In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key="AIzaSyBw2oaXwfKc8PDY8slvtki6QHLAJDIZvm0"

# Study data files
yelp_path = "Final_Yelp_Data.csv"

# Read the mouse data and the study results
yelpers = pd.read_csv(yelp_path)

In [5]:
yelpers

,Unnamed: 0,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price,Unnamed: 0.1
0,0,Y3HNUBQJHAzWnnhk3iReiA,junoon-flavors-of-india-sacramento-2,Junoon Flavors Of India,https://s3-media1.fl.yelpcdn.com/bphoto/P7Pzdg...,False,https://www.yelp.com/biz/junoon-flavors-of-ind...,20,"[{'alias': 'indpak', 'title': 'Indian'}]",5.0,"{'latitude': 38.570471, 'longitude': -121.4571...",[],"{'address1': '3672 J St', 'address2': None, 'a...",1.916943e+10,(916) 942-9796,1267.138005,NaN,NaN
1,1,9GhIDT1D_8-0ZxKDIB2WpA,shake-shack-sacramento,Shake Shack,https://s3-media3.fl.yelpcdn.com/bphoto/TxbovZ...,False,https://www.yelp.com/biz/shake-shack-sacrament...,168,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",3.0,"{'latitude': 38.568686, 'longitude': -121.487243}",['delivery'],"{'address1': '1710 R St', 'address2': 'Ste 190...",1.279321e+10,(279) 321-4002,3883.061550,NaN,NaN
2,2,LwiOfwMNDndIPm3QSh8wFQ,south-sacramento,South,https://s3-media3.fl.yelpcdn.com/bphoto/yHsuXv...,False,https://www.yelp.com/biz/south-sacramento?adju...,1590,"[{'alias': 'southern', 'title': 'Southern'}]",4.0,"{'latitude': 38.5687015705627, 'longitude': -1...",['delivery'],"{'address1': '2005 11th St', 'address2': '', '...",1.916383e+10,(916) 382-9722,4735.638709,$$,NaN
3,3,myoaFyZ9RIG_p2rkOQiWlA,fixins-soul-kitchen-sacramento-2,Fixins Soul Kitchen,https://s3-media4.fl.yelpcdn.com/bphoto/wVYnJG...,False,https://www.yelp.com/biz/fixins-soul-kitchen-s...,946,"[{'alias': 'soulfood', 'title': 'Soul Food'}, ...",4.5,"{'latitude': 38.55147, 'longitude': -121.46924}",['delivery'],"{'address1': '3428 3rd Ave', 'address2': '', '...",1.917000e+10,(916) 999-7685,3270.943674,$$,NaN
4,4,rQaH3Jr6BxFhX5pXa6W6_w,chando-s-tacos-sacramento,Chandoâ€™s Tacos,https://s3-media2.fl.yelpcdn.com/bphoto/yoraiB...,False,https://www.yelp.com/biz/chando-s-tacos-sacram...,14,"[{'alias': 'mexican', 'title': 'Mexican'}]",4.5,"{'latitude': 38.564075, 'longitude': -121.4340...",[],"{'address1': '5644 J St', 'address2': '', 'add...",1.916477e+10,(916) 476-6312,1210.413973,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,1062,l7Fe3Q1YMHwZYBLcKR4tKA,smoke-junction-cafe-sacramento,Smoke Junction Cafe,https://s3-media2.fl.yelpcdn.com/bphoto/N70LJl...,False,https://www.yelp.com/biz/smoke-junction-cafe-s...,32,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.0,"{'latitude': 38.7050490891277, 'longitude': -1...",['delivery'],"{'address1': '5859 Antelope Rd', 'address2': '...",1.916948e+10,(916) 947-8672,12195.276691,$,469.0
609,1064,4QkgyBIyqxPzKL7Ul7u0Ig,tealicious-sacramento-3,Tealicious,https://s3-media2.fl.yelpcdn.com/bphoto/lcwSxz...,False,https://www.yelp.com/biz/tealicious-sacramento...,169,"[{'alias': 'bubbletea', 'title': 'Bubble Tea'}...",4.0,"{'latitude': 38.5275870192814, 'longitude': -1...",['pickup'],"{'address1': '5101 Freeport Blvd', 'address2':...",1.916759e+10,(916) 758-5179,12970.787834,$,471.0
610,1065,glX_vsxgkBeYuQJpiUOCqw,three-sisters-mexican-restaurant-sacramento,Three Sisters Mexican Restaurant,https://s3-media1.fl.yelpcdn.com/bphoto/viDs7a...,False,https://www.yelp.com/biz/three-sisters-mexican...,403,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",3.0,"{'latitude': 38.56015, 'longitude': -121.4435}","['pickup', 'delivery']","{'address1': '5100 Folsom Blvd', 'address2': '...",1.916453e+10,(916) 452-7442,7158.401123,$$,474.0
611,1067,sv8Nf0mexd6N_koap_Itsw,honey-baked-ham-company-fair-oaks,Honey Baked Ham Company,https://s3-media1.fl.yelpcdn.com/bphoto/Smk2uM...,False,https://www.yelp.com/biz/honey-baked-ham-compa...,66,"[{'alias': 'meats', 'title': 'Meat Shops'}, {'...",3.5,"{'latitude': 38.6623840332031, 'longitude': -1...","['pickup', 'delivery']","{'address1': '5300 Sunrise Blvd', 'address2': ...",1.916962e+10,(916) 962-1426,11650.635930,$,476.0
612,1069,NHsVI4KvHpe0l6cqoo39Mg,sourdough-and-co-citrus-heights-2,Sourdough & Co.,https://s3-media1.fl.yelpcdn.com/bphoto/m_LCCz...,False,https://www.yelp.com/biz/sourdough-and-co-citr...,116,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",3.5,"{'latitude': 38.664591, 'longitude': -121.272799}",['delivery'],"{'address1': '5437 Sunrise Blvd', 'address2': ...",1.916823e+10,(916) 823-3900,11718.138728,$$,478.0

In [8]:
#compare each type of food and review count
# grab categories, name, review count, and rating
df = pd.DataFrame(yelpers, columns = ['name', 'categories', 'review_count', 'rating', 'transactions', 'coordinates']) 

df['transactions'] = df['transactions'].replace(
    {"['delivery']": "True", 
     "[]": "False",
     "['pickup', 'delivery']": "True", 
     "['delivery', 'pickup']": "True", 
     "['pickup']":  "False",
     "['restaurant_reservation', 'delivery']":"True", 
     "['restaurant_reservation', 'pickup', 'delivery']":"True",
     "['restaurant_reservation']":'Theft',
     "['restaurant_reservation', 'delivery', 'pickup']": "True",
    })

In [9]:
#geomap the restaurants with most reviews
#top 20 and low 20
#df = pd.DataFrame(df.row.str.split(' ',1).tolist(),
#                                 columns = ['coordinates'])
df['lat'], df['long'] = df['coordinates'].str.split(',', 1).str
df['lat']= df['lat'].str.replace("{'latitude':", "")
df['long'] = df['long'].str.replace("'longitude': ", "").str.replace("}", "")
df
df[['long', 'lat']]= df[['long', 'lat']].astype(float, errors= "ignore")
#df['long'].isna().sum()
df

C:\Users\smith\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """

,name,categories,review_count,rating,transactions,coordinates,lat,long
0,Junoon Flavors Of India,"[{'alias': 'indpak', 'title': 'Indian'}]",20,5.0,False,"{'latitude': 38.570471, 'longitude': -121.4571...",38.570471,-121.4571694
1,Shake Shack,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",168,3.0,True,"{'latitude': 38.568686, 'longitude': -121.487243}",38.568686,-121.487243
2,South,"[{'alias': 'southern', 'title': 'Southern'}]",1590,4.0,True,"{'latitude': 38.5687015705627, 'longitude': -1...",38.5687015705627,-121.497104891816
3,Fixins Soul Kitchen,"[{'alias': 'soulfood', 'title': 'Soul Food'}, ...",946,4.5,True,"{'latitude': 38.55147, 'longitude': -121.46924}",38.55147,-121.46924
4,Chandoâ€™s Tacos,"[{'alias': 'mexican', 'title': 'Mexican'}]",14,4.5,False,"{'latitude': 38.564075, 'longitude': -121.4340...",38.564075,-121.43409833
...,...,...,...,...,...,...,...,...
608,Smoke Junction Cafe,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",32,4.0,True,"{'latitude': 38.7050490891277, 'longitude': -1...",38.7050490891277,-121.328696432458
609,Tealicious,"[{'alias': 'bubbletea', 'title': 'Bubble Tea'}...",169,4.0,False,"{'latitude': 38.5275870192814, 'longitude': -1...",38.5275870192814,-121.495912777778
610,Three Sisters Mexican Restaurant,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",403,3.0,True,"{'latitude': 38.56015, 'longitude': -121.4435}",38.56015,-121.4435
611,Honey Baked Ham Company,"[{'alias': 'meats', 'title': 'Meat Shops'}, {'...",66,3.5,True,"{'latitude': 38.6623840332031, 'longitude': -1...",38.6623840332031,-121.271705627441
612,Sourdough & Co.,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",116,3.5,True,"{'latitude': 38.664591, 'longitude': -121.272799}",38.664591,-121.272799

In [12]:
df= df.sort_values("review_count", ascending= False)
top20= df.head(20)
# top20[['long', 'lat']]= top20[['long', 'lat']].astype(float)

top20

,name,categories,review_count,rating,transactions,coordinates,lat,long
20,Ramen House Ryujin,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",2881,4.5,True,"{'latitude': 38.5674, 'longitude': -121.4857}",38.5674,-121.4857
15,Oz Korean BBQ,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",2647,4.0,True,"{'latitude': 38.56349, 'longitude': -121.33496}",38.56349,-121.33496
48,Iron Horse Tavern,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2435,4.0,True,"{'latitude': 38.5695762064691, 'longitude': -1...",38.5695762064691,-121.490668354958
40,Tres Hermanas,"[{'alias': 'mexican', 'title': 'Mexican'}]",2397,4.0,True,"{'latitude': 38.57369, 'longitude': -121.47456}",38.57369,-121.47456
350,Yard House,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2071,3.5,True,"{'latitude': 38.768878772817, 'longitude': -12...",38.768878772817,-121.26806509957
23,Sawasdee Thai Cuisine,"[{'alias': 'thai', 'title': 'Thai'}]",2021,4.5,True,"{'latitude': 38.576894, 'longitude': -121.481515}",38.576894,-121.481515
135,Ella Dining Room and Bar,"[{'alias': 'newamerican', 'title': 'American (...",1756,4.0,True,"{'latitude': 38.57887, 'longitude': -121.4914}",38.57887,-121.4914
352,Four Sisters Cafe,"[{'alias': 'breakfast_brunch', 'title': 'Break...",1749,4.5,True,"{'latitude': 38.784513, 'longitude': -121.266579}",38.784513,-121.266579
120,Fox & Goose,"[{'alias': 'breakfast_brunch', 'title': 'Break...",1729,3.5,True,"{'latitude': 38.5715283845259, 'longitude': -1...",38.5715283845259,-121.496972802439
36,Public House Downtown,"[{'alias': 'newamerican', 'title': 'American (...",1705,4.0,True,"{'latitude': 38.576166714481, 'longitude': -12...",38.576166714481,-121.486355956124
37,The Coconut On T,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...",1618,4.5,True,"{'latitude': 38.5685, 'longitude': -121.49658}",38.5685,-121.49658
2,South,"[{'alias': 'southern', 'title': 'Southern'}]",1590,4.0,True,"{'latitude': 38.5687015705627, 'longitude': -1...",38.5687015705627,-121.497104891816
31,Paesanos,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",1550,4.0,True,"{'latitude': 38.573753, 'longitude': -121.483764}",38.573753,-121.483764
343,Lazy Dog Restaurant & Bar,"[{'alias': 'newamerican', 'title': 'American (...",1485,4.0,True,"{'latitude': 38.7750242, 'longitude': -121.275...",38.7750242,-121.2752453
33,The Firehouse Restaurant,"[{'alias': 'newamerican', 'title': 'American (...",1422,4.0,True,"{'latitude': 38.581539, 'longitude': -121.504931}",38.581539,-121.504931
341,My Thai Kitchen,"[{'alias': 'thai', 'title': 'Thai'}]",1389,4.0,True,"{'latitude': 38.7530926018765, 'longitude': -1...",38.7530926018765,-121.251939624905
373,Topgolf,"[{'alias': 'newamerican', 'title': 'American (...",1350,4.0,False,"{'latitude': 38.79075, 'longitude': -121.295726}",38.79075,-121.295726
354,ZÃ³calo,"[{'alias': 'mexican', 'title': 'Mexican'}]",1315,4.0,True,"{'latitude': 38.76814736, 'longitude': -121.26...",38.76814736,-121.26976408
340,The Chef's Table,"[{'alias': 'newamerican', 'title': 'American (...",1271,4.5,True,"{'latitude': 38.7964080881302, 'longitude': -1...",38.7964080881302,-121.290666866223
265,Evan's Kitchen & Catering,"[{'alias': 'tradamerican', 'title': 'American ...",1186,4.0,True,"{'latitude': 38.5660479112045, 'longitude': -1...",38.5660479112045,-121.432719839287

In [57]:
df= df.sort_values("review_count", ascending= False)
tail= df[df["review_count"]==1]
tail[['long', 'lat']]= tail[['long', 'lat']].astype(float)
tail= tail[tail['long'] <-120]
tail

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,name,categories,review_count,rating,transactions,coordinates,lat,long
451,Burger King,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",1,4.0,[],"{'latitude': 38.6665820275127, 'longitude': -1...",38.666582,-121.388769
146,Baker Dozen 2,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,3.0,[],"{'latitude': 38.75193, 'longitude': -121.28109}",38.751930,-121.281090
305,TACOS GTO,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",1,5.0,[],"{'latitude': 38.6451, 'longitude': -121.44154}",38.645100,-121.441540
482,Las Cachanillas Restaurant,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",1,4.0,['delivery'],"{'latitude': 38.60733833, 'longitude': -121.47...",38.607338,-121.476527
506,Mangoâ€™s Burger Bar,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",1,4.0,[],"{'latitude': 38.575439, 'longitude': -121.480671}",38.575439,-121.480671
494,Young Dong,"[{'alias': 'korean', 'title': 'Korean'}]",1,1.0,['delivery'],"{'latitude': 38.52425, 'longitude': -121.4971651}",38.524250,-121.497165
313,Five-Twenty Four Restaurant,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,2.0,[],"{'latitude': 38.6097235232592, 'longitude': -1...",38.609724,-121.475631
213,El Zacatecano,"[{'alias': 'newamerican', 'title': 'American (...",1,5.0,[],"{'latitude': 38.5069695, 'longitude': -121.470...",38.506969,-121.470070
246,Larosa's Sports Cafe,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,1.0,[],"{'latitude': 38.6421467, 'longitude': -121.383...",38.642147,-121.383989
284,Chili's Catering,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",1,5.0,[],"{'latitude': 38.66264, 'longitude': -121.27263}",38.662640,-121.272630
65,Outdoor Herbivore,"[{'alias': 'diyfood', 'title': 'Do-It-Yourself...",1,5.0,[],"{'latitude': 38.6095010505836, 'longitude': -1...",38.609501,-121.367493
460,Cafe 26,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",1,4.0,[],"{'latitude': 38.74887, 'longitude': -121.26598}",38.748870,-121.265980
262,Sun Center Cafe,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,[],"{'latitude': 38.554607, 'longitude': -121.373375}",38.554607,-121.373375
50,Playa Linda Del Carmen,"[{'alias': 'latin', 'title': 'Latin American'}]",1,5.0,[],"{'latitude': 38.690579, 'longitude': -121.4565...",38.690579,-121.456554
480,CafÃ© Hoshi,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,[],"{'latitude': 38.5782404, 'longitude': -121.487...",38.578240,-121.487862
267,Fair Oaks Pizzeria,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,1.0,[],"{'latitude': 38.639, 'longitude': -121.27424}",38.639000,-121.274240
162,Hall of Fame Bar & Grill,"[{'alias': 'newamerican', 'title': 'American (...",1,3.0,['delivery'],"{'latitude': 38.7098999, 'longitude': -121.291...",38.709900,-121.291313
205,La Croissant Park Cafe,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,5.0,[],"{'latitude': 38.5650634765625, 'longitude': -1...",38.565063,-121.408081
175,Leonardi's Pizza,"[{'alias': 'pizza', 'title': 'Pizza'}]",1,5.0,[],"{'latitude': 38.741153717041, 'longitude': -12...",38.741154,-121.249260
411,Riego Road Strawberry Stand,"[{'alias': 'markets', 'title': 'Fruits & Veggi...",1,5.0,[],"{'latitude': 38.71598, 'longitude': -121.41362}",38.715980,-121.413620
405,Culinary CafÃ©,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,[],"{'latitude': 38.602794, 'longitude': -121.418647}",38.602794,-121.418647
252,Classic Burgers,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,1.0,[],"{'latitude': 38.6098899841309, 'longitude': -1...",38.609890,-121.400833
535,La Boheme Cafe,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,4.0,[],"{'latitude': 38.57936, 'longitude': -121.49357}",38.579360,-121.493570
238,3- N -1 BBQ,"[{'alias': 'bbq', 'title': 'Barbeque'}]",1,5.0,[],"{'latitude': 38.6270105, 'longitude': -121.445...",38.627010,-121.445811
468,Bacchanal Bistro & Wine Bar,"[{'alias': 'pizza', 'title': 'Pizza'}]",1,5.0,[],"{'latitude': 38.74375, 'longitude': -121.25349}",38.743750,-121.253490
507,Virga's Restaurant Bar & Catering,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,4.0,[],"{'latitude': 38.5730133056641, 'longitude': -1...",38.573013,-121.490189

In [58]:
gmaps.configure(api_key=g_key)

In [59]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>name</dt><dd>{name}</dd>
<dt>lat</dt><dd>{lat}</dd>
<dt>long</dt><dd>{long}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
yelptop = [info_box_template.format(**row) for index, row in top20.iterrows()]
locations = top20[["lat", "long"]]
# use above variables for layer[]
#markers= gmaps.marker_layer(locations, hotel_info) #info_box_template)
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=yelptop)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
yelptail = [info_box_template.format(**row) for index, row in tail.iterrows()]
locations = tail[["lat", "long"]]
# use above variables for layer[]
#markers= gmaps.marker_layer(locations, hotel_info) #info_box_template)
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=yelptail)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))